*{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 5px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

header{
    color:blueviolet
}

#webname {
    background-color:azure;
}

nav a{
    text-decoration: none;
    color:cornflowerblue;
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color:darkgray;
    color:darkslategray;
    width: fit-content;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}

form * {
    display: block;
    margin: auto;
    text-align:center;
}

button {
    background-color:lightblue;
    color:darkslateblue;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .funIMG {
    border-radius: 100%;
}

.container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.mapContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.mapContainer h2 {
    text-align: center;
}

.mapWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.contactForm h2 {
    text-align: center;
}